:root {
    font-size: 16px
}

@media (max-width: 500px) {
     :root {
        font-size: 14px
    }
}

.logo {
    display: flex;
    justify-content: center;
    position: relative;
    user-select: none;
    background-blend-mode: difference;
}

.logo b {
    font: 222 7vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.logo b span {
    animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79% {
        color: #333;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #333;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #333;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    background: #87cd33;
    color: white;
}

::selection {
    background: #87cd33;
    color: white;
}

body {
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    background: linear-gradient(180deg, #231037 0%, #304233 21%, #230d39 85%);
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none
}

body:after {
    animation: grain 6s steps(10) infinite;
    background-image: url(/62f64d5233f6333080c87c81a9a35f9d.png);
    background-repeat: repeat;
    content: '';
    height: 300%;
    left: -100%;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: -100%;
    transition: opacity .4s ease;
    width: 300%;
    will-change: transform;
    z-index: 3
}

h1 {
    font-size: 5rem
}

h2 {
    font-size: 2rem
}

img {
    width: 100%;
    height: auto;
    background: #f0f0f0;
}

ul {
    padding-left: 1rem;
    list-style: none;
}

li {
    flex-shrink: 0;
    width: clamp(500px, 60vw, 800px);
    padding-right: 1rem;
}

header {
    height: 100vh
}

footer {
    height: 50vh
}

:-webkit-any-link {
    color: #4e9815;
}

:-moz-any-link {
    color: #4e9815;
}

:any-link {
    color: #4e9815;
}

.df {
    display: flex
}

.aic {
    align-items: center
}

.jcc {
    justify-content: center
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    color: white;
}

.demo-wrapper {
    overflow-x: hidden;
}

.wrapper {
    display: flex;
}

.demo-gallery:not(.last) {
    padding-bottom: 1rem;
}

.demo-text .text {
    font-size: clamp(8rem, 15vw, 16rem);
    line-height: 1;
    font-weight: 900;
}